<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78971103212-c8ltmvi7p48lhitut5h0jfnbr2e67cm8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78971103212-c8ltmvi7p48lhitut5h0jfnbr2e67cm8</string>
	<key>API_KEY</key>
	<string>AIzaSyBUYkXMvbmfcQcQJ8e2NNKts1eQrzC4jFU</string>
	<key>GCM_SENDER_ID</key>
	<string>78971103212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.study.firebase.studyFirebase</string>
	<key>PROJECT_ID</key>
	<string>first-try-1bfa2</string>
	<key>STORAGE_BUCKET</key>
	<string>first-try-1bfa2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78971103212:ios:12151f906830aaab7242c9</string>
</dict>
</plist>